.template-config {
  position: relative;
}
.template-config .layout-2-right::after {
  content: '';
  display: table;
  clear: left;
}
.template-config .layout-2-right .right {
  margin-left: 510px;
}
.template-config .layout-2-right .left {
  width: 500px;
}
.template-config .layout-2-right .left:hover {
  position: relative;
  z-index: 1;
}
.template-config .plain-edit-area {
  border-width: 0;
}
.template-config .plain-edit-area .plain-unit-title {
  background: transparent;
}
.template-config .u-jqx-tabs ul {
  margin-left: 40px;
  height: 45px;
  text-align: center;
}
.template-config .u-jqx-tabs .tabs-container {
  overflow: visible;
  padding-bottom: 60px;
}
.template-config .u-jqx-tabs-content ul {
  margin-left: 20px;
  height: 25px;
}
.template-config .u-jqx-tabs-content .jqx-tabs-content {
  clear: none;
}
.ui-dialog-body .template-config .operation-area {
  display: none;
}
.template-config .operation-area .plain-unit-action {
  text-align: center;
  margin-top: 10px;
}
.template-config .layout-container {
  position: relative;
  padding-top: 0;
  transition: 1s padding-top;
}
.template-config .layout-container .layout-scale {
  position: absolute;
  top: 50px;
  left: 0;
  transition: 1s top;
}
.template-config .layout-container.scale-modal {
  padding-top: 20px;
}
.template-config .layout-container.scale-modal .layout-scale {
  top: 20px;
}
.template-config .layout-container .layout-demo {
  border: 1px solid #dedede;
  width: 384px;
  font-size: 12px;
  height: 96px;
}
.template-config .layout-container .layout-demo iframe {
  height: 100%;
  width: 100%;
  border: none;
}
