/*
* esui.Plain
*/
.ui-plain, .ui-plain-label {
    /*-moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;*/
    overflow: hidden;
}

.ui-plain {
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 22px;
}

.ui-plain-label {
    display: block;
    float: left;
    height: 22px;
    line-height: 22px;
}

/*
    * desc:    多选树状控件
    * author:  killeryyl, xukai01
    * date:    $Date$
    * esui.TreeSelect
    */

.ui-treeselect {
    font-size: 12px;
    overflow: auto;
}

.ui-treeselect .ui-treeselect-subtree {
    display: none;
    padding: 0 0 0 15px;
    margin: 0;
}

.ui-treeselect li {
    list-style: none;
    padding: 0;
}

.ui-treeselect-node {
    height: 14px;
    line-height: 14px;
    padding: 3px 3px;
    overflow: hidden;
    word-wrap: normal;
    word-break: break-all;
}

.ui-treeselect-node * {
    cursor: pointer;
}

.ui-treeselect-node-icon {
    margin-right: 3px;
    width: 11px;
    height: 11px;
    vertical-align: middle;
    overflow: hidden;
    background: url(img/esui.png) no-repeat;
    background-position: -102px -114px;
    visibility: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    zoom: 1;
}

.ui-treeselect-icon-hasChild {
    visibility: visible;
}

.ui-treeselect-icon-expanded {
    background-position: -102px -103px;
}

.ui-treeselect .ui-treeselect-subtree-expanded {
    display: block;
}

.ui-treeselect input {
    margin-right: 3px;
    height: 13px;
    width: 13px;
    vertical-align: middle;
}

/**
 * @file 按钮型选择控件
 * @author:  killeryyl(yangyuelong@baidu.com)
 */

.ui-buttonselect-clear-both {
    clear: both;
}

.ui-buttonselect-border-radios-all,
.ui-buttonselect-border-radios-left,
.ui-buttonselect-border-radios-top,
.ui-buttonselect-border-radios-tl {
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.ui-buttonselect-border-radios-all,
.ui-buttonselect-border-radios-right,
.ui-buttonselect-border-radios-top,
.ui-buttonselect-border-radios-tr {
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.ui-buttonselect-border-radios-all,
.ui-buttonselect-border-radios-left,
.ui-buttonselect-border-radios-bottom,
.ui-buttonselect-border-radios-bl {
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ui-buttonselect-border-radios-all,
.ui-buttonselect-border-radios-right,
.ui-buttonselect-border-radios-bottom,
.ui-buttonselect-border-radios-br {
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ui-buttonselect {
    /*在IE下子元素absolute后若父级无此属性就会跑到以body为基础的地方去了。。。*/
    position: relative;
}

.ui-buttonselect .ui-buttonselect-clear-both {
    height: 0px;
}

.ui-buttonselect-button {
    font-size: 1em;
    line-height: 1.6em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    overflow: visible;
    cursor: pointer;
}

.ui-buttonselect-button-activation.ui-buttonselect-button-single {
    cursor: default;
}

.ui-buttonselect-button-single {
    cursor: pointer;
}

.ui-buttonselect-button-disabled {
    color: #CCCCCC;
    cursor: default;
}

.ui-buttonselect-button-right {
    border-right-width: 1px;
}

.ui-buttonselect .ui-tip-entrance {
    margin-left: 0.5em;
}

.skin-buttonselect-gray input {
    position: absolute;
    height: 0;
    width: 0;
    /*在firefox里，radio和checkbox的高设置无效。只能通过层遮罩隐藏*/
    z-index: -1;
    /*去除IE下的虚线框*/
    top: 1px;
    outline: none;
}

.skin-buttonselect-simple input {
    margin-right: 5px;
    vertical-align: middle;
}

.skin-buttonselect-simple-button {
    margin-right: 30px;
    vertical-align: middle;
}

.skin-buttonselect-gray-button {
    margin: 0.1em 0;
    display: inline-block;
    padding: 0px 10px;
    border: 1px solid;
    border-color: #DBDBDB;
    color: #5E5E5E;
    border-right-width: 0;
    background: rgb(238, 238, 238); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(227, 227, 227, 1) 44%, rgba(243, 243, 243, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(38%, rgba(243, 243, 243, 1)), color-stop(44%, rgba(227, 227, 227, 1)), color-stop(100%, rgba(243, 243, 243, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(227, 227, 227, 1) 44%, rgba(243, 243, 243, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(227, 227, 227, 1) 44%, rgba(243, 243, 243, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(227, 227, 227, 1) 44%, rgba(243, 243, 243, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(227, 227, 227, 1) 44%, rgba(243, 243, 243, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f3f3f3', GradientType=0); /* IE6-8 */
}

.skin-buttonselect-gray-button:hover {
    background: rgb(238, 238, 238); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(237, 237, 237, 1) 43%, rgba(243, 243, 243, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(38%, rgba(243, 243, 243, 1)), color-stop(43%, rgba(237, 237, 237, 1)), color-stop(100%, rgba(243, 243, 243, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(237, 237, 237, 1) 43%, rgba(243, 243, 243, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(237, 237, 237, 1) 43%, rgba(243, 243, 243, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(237, 237, 237, 1) 43%, rgba(243, 243, 243, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(237, 237, 237, 1) 43%, rgba(243, 243, 243, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f3f3f3', GradientType=0); /* IE6-8 */
}

.skin-buttonselect-gray-button.skin-buttonselect-gray-button-disabled:hover {
    background: rgb(238, 238, 238); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(227, 227, 227, 1) 44%, rgba(243, 243, 243, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(38%, rgba(243, 243, 243, 1)), color-stop(44%, rgba(227, 227, 227, 1)), color-stop(100%, rgba(243, 243, 243, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(227, 227, 227, 1) 44%, rgba(243, 243, 243, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(227, 227, 227, 1) 44%, rgba(243, 243, 243, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(227, 227, 227, 1) 44%, rgba(243, 243, 243, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(243, 243, 243, 1) 38%, rgba(227, 227, 227, 1) 44%, rgba(243, 243, 243, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f3f3f3', GradientType=0); /* IE6-8 */
}

.skin-buttonselect-gray-button-activation {
    border-right-color: #F4F4F4;
    border-bottom-color: #F4F4F4;
    color: #CCCCCC;
    background: rgb(213, 213, 213); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZDVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(213, 213, 213, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(250, 250, 250, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(213, 213, 213, 1)), color-stop(20%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(250, 250, 250, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(213, 213, 213, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(250, 250, 250, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(213, 213, 213, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(250, 250, 250, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(213, 213, 213, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(250, 250, 250, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(213, 213, 213, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(250, 250, 250, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#fafafa', GradientType=0); /* IE6-8 */

}

.skin-buttonselect-gray-button-activation.skin-buttonselect-gray-button:hover {
    border-right-color: #F4F4F4;
    border-bottom-color: #F4F4F4;
    color: #CCCCCC;
    background: rgb(213, 213, 213); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZDVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(213, 213, 213, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(250, 250, 250, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(213, 213, 213, 1)), color-stop(20%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(250, 250, 250, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(213, 213, 213, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(250, 250, 250, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(213, 213, 213, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(250, 250, 250, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(213, 213, 213, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(250, 250, 250, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(213, 213, 213, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(250, 250, 250, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#fafafa', GradientType=0); /* IE6-8 */
}

.skin-buttonselect-gray-button-activation.skin-buttonselect-gray-button-disabled:hover,
.skin-buttonselect-gray-button-activation.skin-buttonselect-gray-button-disabled {
    color: #e0e0e0;
}

.skin-buttonselect-gray-button-disabled {
    color: #CCCCCC;
}

/*
 * ESUI (Enterprise Simple UI)
 * Copyright 2013 Baidu Inc. All rights reserved.
 * 
 * path:    ui-plainview.css
 * desc:    平面显示控件
 * author:  yangyuelong, dengyijun
 * date:    $Date$
 */

.ui-plainview,
.ui-plainview dl,
.ui-plainview a {
    border: 0 solid #d7d7d7;
    margin: 0;
    padding: 0;
    color: #000;
    text-decoration: none;
}

.ui-plainview {
    border-width: 1px;
    font-size: 12px;
    background-color: #fbfbfd;
    padding: 10px 20px 5px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    display: inline-block;;
    vertical-align: top;
}

.ui-plainview dl {
    border-bottom-width: 1px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.ui-plainview .ui-plainview-last {
    border-bottom-width: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.ui-plainview a {
    display: block;
}

.ui-plainview div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 3px;
    display: block;
    cursor: default;
}

.ui-plainview .ui-plainview-row-clear {
    clear: left;
}

.ui-plainview dt {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}

.ui-plainview dt a {
    width: 100%;
}

.ui-plainview dd {
    margin: 3px 3px 3px 0;
    display: block;
    float: left;
}

.ui-plainview dd div {
    padding-right: 7px;
    width: 75px;
    height: 12px;
    line-height: 13px;
}

.ui-plainview dl span {
    line-height: 13px;
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    background-color: #6887b3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: none;
    font-family: "宋体";
}

.ui-plainview dt span {
    right: 6px;
    top: 6px;
}

.ui-plainview a:hover {
    border-width: 1px;
    margin: -1px;
    background-color: #fff;
    position: relative;
}

.ui-plainview a:hover span {
    display: block;
}

/*
 * ESUI (Enterprise Simple UI)
 * Copyright 2013 Baidu Inc. All rights reserved.
 * 
 * path:    ui-plainselect.css
 * desc:    平面选择控件
 * author:  yangyuelong, dengyijun
 * date:    $Date$
 */

.ui-plainselect,
.ui-plainselect-search,
.ui-plainselect-search-result,
.ui-plainselect dl,
.ui-plainselect a,
.ui-plainselect table {
    border: 0 solid #d7d7d7;
    margin: 0;
    padding: 0;
    color: #000;
    text-decoration: none;
}

.ui-plainselect {
    border-width: 1px;
    font-size: 12px;
    line-height: 12px;
    background-color: #fbfbfd;
    padding: 10px 0px 5px 0px;
    overflow: visible;
    text-align: left;
    display: inline-block;;
    vertical-align: top;
}

.skin-plainselect-plain {
    overflow-y: auto;
    overflow-x: visible;
}

.ui-plainselect div.ui-plainselect-search {
    margin: 5px 20px;
}

.ui-plainselect .ui-plainselect-selectAll input,
.ui-plainselect dl input {
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.ui-plainselect .ui-plainselect-selectAll label,
.ui-plainselect dl label {
    vertical-align: middle;
    cursor: pointer;
}

.ui-plainselect-single .skin-plainselect-plain-row dd input,
.ui-plainselect-single td input {
    vertical-align: text-bottom;
}

.ui-plainselect-single .skin-plainselect-plain-row dd label,
.ui-plainselect-single td label {
    vertical-align: baseline;
}

.ui-plainselect .ui-plainselect-row {
    padding: 0 20px;
    overflow: visible;
}

.ui-plainselect .ui-plainselect-selectAll {
    height: 30px;
    line-height: 30px;
    padding-left: 23px;
}

.ui-plainselect .ui-plainselect-row-clear {
    clear: left;
}

.ui-plainselect .ui-plainselect-row-odd {
    background-color: #fff;
}

.ui-plainselect dl {
    border-bottom-width: 1px;
    padding-bottom: 5px;
    margin: 5px 0;
}

.ui-plainselect .ui-plainselect-last {
    border-bottom-width: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.ui-plainselect dt,
.ui-plainselect dd {
    display: block;
    margin: 3px 3px 3px 0;
    overflow: visible;
}

.skin-plainselect-inline .ui-plainselect-row dt,
.ui-plainselect dd {
    float: left;
}

.ui-plainselect dt div,
.ui-plainselect dd div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.ui-plainselect dt a,
.ui-plainselect dd a {
    display: block;
    margin: 0;
}

.skin-plainselect-inline dt a div,
.ui-plainselect dd td,
.ui-plainselect dt div,
.ui-plainselect dd div {
    width: 75px;
    height: 18px;
    padding: 3px;
    padding-right: 7px;
}

.ui-plainselect dt div {
    width: auto;
}

.ui-plainselect dt a {
    border-bottom-width: 1px;
}

.ui-plainselect dt label {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}

.ui-plainselect dl table {
    position: absolute;
    border-width: 1px;
    display: none;
    top: -1px;
    left: 85px;
}

.ui-plainselect dl td {
    white-space: nowrap;
    padding: 0 3px;
    height: 30px;
}

.skin-plainselect-inline .ui-plainselect-row dt a:hover,
.ui-plainselect dl a:hover {
    border-width: 1px;
    margin: -1px;
    position: relative;
}

.ui-plainselect dl a:hover {
    border-right-width: 0;
    margin-right: 0;
}

.ui-plainselect dl a:hover div {
    background-color: #fff;
    z-index: 2;
    position: relative;
}

.ui-plainselect dt a:hover,
.skin-plainselect-plain dl a:hover,
.ui-plainselect dl a.ui-plainselect-noSub:hover {
    border-right-width: 1px;
    margin-right: -1px;
}

.ui-plainselect dt a:hover {
    margin-bottom: 0;
}

.ui-plainselect dd a:hover table {
    background-color: #fff;
    display: table;
    margin-left: -1px;
    z-index: 1;
}

div.ui-plainselect-search {
    border-width: 1px;
    background-color: #fff;
    height: 22px;
    line-height: 22px;
    overflow: visible;
    position: relative;
}

div.ui-plainselect-search a {
    display: block;
    height: 100%;
}

.ui-plainselect-search-key {
    margin-right: 22px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: inherit;
}

.ui-plainselect-search-key input {
    border-width: 0;
    background-color: inherit;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    vertical-align: baseline;
}

.ui-plainselect-search-key input:focus {
    border-width: 0;
}

.ui-plainselect-search button {
    float: right;
    width: 22px;
    height: 22px;
    background: url(img/esui.png) -73px -163px no-repeat #fff;
    border-width: 0;
    cursor: pointer;
}

.ui-plainselect-search.hover a .ui-plainselect-search-result,
.ui-plainselect-search a:hover .ui-plainselect-search-result {
    display: block;
}

.ui-plainselect-search-result {
    display: none;
    position: absolute;
    top: 22px;
    left: -1px;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
    background-color: #fff;
    border-width: 1px;
    max-height: 88px;
    z-index: 1;
    *height: 88px; /*为了所谓的ie*/
}

.ui-plainselect-search-result div {
    margin-left: 5px;
    cursor: pointer;
}

.ui-plainselect-search-result input {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: -1;
    opacity: 0;
}

.ui-plainselect-search-result label {
    display: block;
    padding-left: 5px;
    cursor: pointer;
}

.ui-plainselect-search-result span {
    margin-right: 5px;
    color: #909090;
}

.ui-plainselect-search-result label:hover {
    background-color: #e4eafa;
}

.ui-plainselect input.ui-plainselect-partial {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.ui-plainselect a:hover input.ui-plainselect-partial {
    opacity: 1;
    filter: alpha(opacity=100);
}

.skin-plainselect-inline dt label {
    font-size: inherit;
    line-height: inherit;
}

.skin-plainselect-inline .ui-plainselect-row dt a {
    border-bottom-width: 0;
}

.skin-plainselect-inline .ui-plainselect-row dt .ui-plainselect-noSub div {
    width: auto;
}

/*
* ESUI (Enterprise Simple UI)
* Copyright 2013 Baidu Inc. All rights reserved.
* 
* desc:    可拖拽卡尺控件
* author:  zhangzhiqiang(Ecom) <zhangzhiqiang04@baidu.com>
* date:    $Date$
*/

.ui-slide .slide-box {
    position: relative;
    top: 50px;
    left: 50px;
}

.ui-slide .slide-horizontal {
    height: 150px;
}

.ui-slide .slide-vertical {
    width: 100px;
}

.ui-slide .slideBar {
    background: #ccc;
    position: relative;
    cursor: pointer;
}

.ui-slide .slideBarHorizontal {
    height: 20px;
    left: 31px;
    background: url(img/slidebar-horizontal.png) repeat-x;
}

.ui-slide .slideBarVertical {
    width: 20px;
    bottom: 16px;
    left: 0;
    background: url(img/slidebar-vertical.png) repeat-y;
}

.ui-slide .slideBarSelected {
    background: #477adf;
    position: absolute;
}

.ui-slide .slideBarSelectedHorizontal {
    height: 10px;
    width: 0;
    top: 50%;
    margin-top: -5px;
    font-size: 8px;
}

.ui-slide .slideBarSelectedVertical {
    width: 10px;
    height: 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    font-size: 0px;
}

.ui-slide .slideBarLeft {
    width: 30px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 0;
    background: url(img/slidebg.png) no-repeat;
}

.ui-slide .slideBarRight {
    width: 30px;
    height: 20px;
    position: absolute;
    right: -30px;
    top: 0;
    background: url(img/slidebg.png) -30px 0 no-repeat;
}

.ui-slide .slideBarBottom {
    width: 20px;
    height: 15px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background: url(img/slidebg.png) -62px -45px no-repeat;
}

.ui-slide .slideBarTop {
    width: 20px;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0;
    background: url(img/slidebg.png) -62px 0 no-repeat;
}

.ui-slide .controlBar {
    position: absolute;
    border-radius: 10px;
    background: url(img/slidebg.png) 0 -20px no-repeat;
    cursor: pointer;
    z-index: 10;
    font-weight: bold;
    color: #777;
    text-align: center;
    width: 62px;
    height: 32px;
    line-height: 30px;
}

.ui-slide .controlBarHorizontal {
    top: -6px;
}

.ui-slide .controlBarVertical {
    left: -21px;
}

.ui-slide .controlPanel {
    position: absolute;
    left: 0;
}

.ui-slide .controlPanelHorizontal {
    top: 50px;
}

.ui-slide .currentValueHolder {
    color: red;
    font-size: 16px;
    font-weight: bold;
    display: block;
    position: absolute;
    margin-top: 35px;
}

.ui-slide .slideRuling, .ui-slide .slideRulingNum {
    position: absolute;
}

.ui-slide .slideRuling li {
    cursor: pointer;
    background: #d8d8d8;
    position: absolute;
    box-shadow: 0 0 1px #ccc;
    list-style: none;
}

.ui-slide .slideRulingNum li {
    position: absolute;
    text-shadow: 0 0 3px #ccc;
    text-align: center;
    font-size: 20px;
    color: #999;
    list-style: none;
}

.ui-slide .slideRulingNumHorizontal {
    top: -37px;
}

.ui-slide .slideRulingNumVertical {
    right: -38px;
}

.ui-slide .slideRulingHorizontal {
    top: -15px;
    left: 0;
}

.ui-slide .slideRulingHorizontal li {
    width: 1px;
    height: 10px;
}

.ui-slide .slideRulingVertical {
    right: -8px;
    bottom: 0;
}

.ui-slide .slideRulingVertical li {
    width: 25px;
    height: 1px;
}

/**
 * @月历日程控件的样式
 * @author Yijun Deng(dengyijun@baidu.com)
 */

.ui-calendarevent table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 780px;
}

.ui-calendarevent-small table {
    width: 245px;
}

.ui-calendarevent-small th span, .ui-calendarevent-small ul {
    display: none;
}

.ui-calendarevent caption {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 6px;
}

.ui-calendarevent caption .date {
    font-size: 150%;
    font-weight: bold;
}

.ui-calendarevent caption a {
    color: #00c;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 5px;
}

.ui-calendarevent caption a:hover {
    text-decoration: none;
}

.ui-calendarevent caption a.disable {
    color: black;
    text-decoration: none;
    cursor: default;
}

.ui-calendarevent th {
    border: 1px solid #999;
    border-bottom: none;
    padding: 3px 2px 2px;
    margin: 0;
    background-color: #ADD;
    color: #333;
}

.ui-calendarevent td {
    border: 1px solid #AAA;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 2px;
    margin: 0;
    vertical-align: top;
}

.ui-calendarevent td.previous, .ui-calendarevent td.next {
    background-color: #eee;
    color: #A6A6A6;
}

.ui-calendarevent td.active {
    background-color: #B1CBE1;
    border: 2px solid #4682B4;
}

.ui-calendarevent-small td.active:hover,
.ui-calendarevent-small td.hover {
    background: aqua;
}

.ui-calendarevent-small td.active:hover ul,
.ui-calendarevent-small td.hover ul {
    display: block;
    position: absolute;
    background-color: #bde;
    margin: -7px 0 0 13px;
    padding: 5px;
    *margin: 0;
}

.ui-calendarevent ul {
    list-style-type: none;
    margin: 3px;
    padding: 0;
}

.ui-calendarevent li {
    color: #444;
    background: transparent;
    padding: 2px;
    margin-bottom: 6px;
    overflow: hidden;
    width: 100px;
}

/**
 * 为了修正弹出的窗口罩不住esui的左边固定树形列表
 */
.ui-mask {
    z-index: 101;
}

/**
 * 高亮按钮，橘色
 */
.skin-button-attraction-label {
    height:18px;
    line-height:19px;
    border:1px solid #E74902;
    background-color: #F58A16;
    color: #fff;
    padding:0 9px;
}
.skin-button-attraction-hover .ui-button-label {
    background-color: #Ff9A20;
}

.skin-button-attraction-press .ui-button-label,
.skin-button-attraction-active .ui-button-label {
    line-height:21px;
    background-color: #e58013;
    background-image:none;
}